body {
  background: #fff1d6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

#navbar {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 0 1rem;
}
#navbar .nav-img {
  width: 200px;
  height: 150px;
  padding: 1rem 0;
}

#navbar .nav-lista {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#navbar .nav-lista a {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 20px;
  font-weight: 500;
}
#navbar .nav-lista a:hover {
  color: #999;
  transition: color 0.3s;
}

h1 {
  text-align: center;
  color: black;
  padding: 2rem;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 a:hover {
  background-color: #7e9f19;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 960px;
  margin-bottom: 20px;
}

.place {
  background-color: #fff;
  border-color: #ccc #999 #999 #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.place h2 {
  border-bottom: 1px dashed #7e9f19;
  margin: 0;
}

.place p {
  padding: 2rem;
}

.place img {
  margin: 10px 10px 10px 10px;
  padding: 0 0 0 70px;
}

footer .rodape {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 2rem;
}

footer .rodape .rodape-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: auto;
}
